
@<Component(main)>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statics/style.css">
    <title>Test Page</title>
</head>
<body>
    <h1>Test</h1>
    <div class="sasi">This is a test {{ testData }}</div>
    <div>This is an other test {{ secondTestData }}</div>
    !<Component(maps)>
    !<Component(helloComponent)>
</body>
</html>
@<ComponentEnd>

@<Component(helloComponent)>
<div>
    <span>Hello there</span><br>
    !<Component(test)>
</div>
@<ComponentEnd>

@<Component(test)>
<span>Testing</span>
@<ComponentEnd>

@<Component(maps)>
    {% value -> val : 
        <div> My name is ${val} </div> 
    %}
    <div>This is yet an other test {{ yetAnotherTestData }} </div>
    {% names -> name:
        <div> ${name} is a name </div>
    %}
@<ComponentEnd>